{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }} 
    {% if move.image is not null %}  
    <p>Image actuelle :</p>
    <img id="imgschool" style="max-width: 100px;" src="{{ move.image }}" />
    {% endif %}
    {{ form_row(form.image) }} 
    {{ form_row(form.visibility) }} 
    {{ form_row(form.categoryMove) }} 
    {{ form_row(form.level) }} 
    {{ form_row(form.school) }} 
    <button class="badge bg-info text-dark fs-6 p-3 border-0">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
