{{ form_start(form) }}
    {{ form_row(form.name) }}
    {% if style.image is not null %}
    <p>Image actuelle :</p>
    <img id="imgschool" style="max-width: 100px;" src="{{ style.image }}" />
    {% endif %}
    {{ form_row(form.image) }}
    {{ form_row(form.activated) }}
    <button class="badge bg-info text-dark fs-6 p-3 border-0">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}
