 <h5>Vidéos associés à cette partie de chorégraphie</h5>
    <div class="d-flex justify-content-end">
        <a href="{{ path('app_back_choreography_part_video_new', {'id': choreography_part.id}) }}"><span class="badge bg-info text-dark fs-6 p-3"><i class="bi bi-plus-circle-fill"></i> Ajouter une vidéo</span></a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Lien</th>
                <th>Ordre</th>
                <th>Date de création</th>
                <th>Date de modification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.description }}</td>
                <td>{{ video.link }}</td>
                <td>{{ video.orderPart }}</td>
                <td>{{ video.createdAt ? video.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ video.updatedAt ? video.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_back_choreography_part_video_edit', {'id': video.id}) }}"><button class="badge bg-info text-dark fs-6 p-3 border-0">Modifier</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
